<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>appweb</display-name>
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>baseDomain</param-name>
		<param-value>appweb</param-value>
	</context-param>
	<context-param>
		<param-name>appReleaseType</param-name>
		<!--<param-value>dev / prod</param-value>-->
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>versionNumber</param-name>
		<param-value>00033</param-value>
	</context-param>
	
	<filter>
		<filter-name>JpaFilter</filter-name>
		<filter-class>appweb.filter.JpaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JpaFilter</filter-name>
		<url-pattern>/ps</url-pattern>
		<url-pattern>/xmvc</url-pattern>
		<url-pattern>/mvw</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>AjaxControllerFilter</filter-name>
		<filter-class>appweb.filter.AjaxControllerFilter</filter-class>
		<init-param>
			<param-name>baseDomain</param-name>
			<param-value>appweb.controller</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AjaxControllerFilter</filter-name>
		<url-pattern>/xmvc</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>appweb.util.AppContextListener</listener-class>
	</listener>
</web-app>